body {
    background-image: url(temp-bg-large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Amatic SC', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #ddd;
    opacity: 0.7;
    padding: 1em 1em 0 10%;
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: 3em;
    margin: 0;
}

#mainPage {
    text-decoration: none;
}

nav ul {
    display: inline-flex;
}

nav ul li { 
    font-size: 1.3em;
    margin: 0 1em 0 1em;
}

a {
    color: black;
}

a:hover {
    color: #555;
}

footer {
    text-align: center;
    opacity: 0.3;
    margin-bottom: 2px;
}

footer p {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

/*nav media queries*/

@media only screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        text-align: center;
        padding-left: 1em;
    }
    
    nav ul {
        font-size: 1.4em;
        padding: 0;
    }
    
    nav ul li:first-child {
        list-style: none;
    }
}

/*home page*/

#bigNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 20%;
    height: 10%;
    margin: 7% 3% 0 3%;
    background-color: #ddd;
    opacity: 0.6;
    border: solid black 4px;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}

button:hover {
    opacity: 0.85;
    
}

/*home page media queries*/

@media only screen and (max-width: 1200px) {
    #bigNav {
        flex-direction: column;
    }

    button {
        width: 80%;
        margin: 1em auto;
    }
}
