body {
/*
    background-image: url(img/temp-bg-large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
    background-color: darkgray;
    font-family: 'Amatic SC', cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

header {
    background-color: #ddd;
    opacity: 0.7;
    padding: 1em 1em 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 2;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h1:hover {
    color: #555;
}

#mainPage {
    text-decoration: none;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    white-space: nowrap;
}

nav ul li { 
    font-size: 1.5em;
    margin: 0 1em;
    text-decoration: underline;
}

nav li:hover {
    color: #555;
}

footer {
    text-align: center;
    opacity: 0.3;
    margin-bottom: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

.hiddenBG {
    opacity: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: fixed;
    z-index: -2;
}

.currentBG {
    display: block;
    position: fixed;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 1;
    z-index: -1;
}

/*nav media queries*/

@media only screen and (max-width: 1200px) {
    header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding-left: 1em;
        font-size: 1.2em;
        line-height: 0.7;
    }
    
    nav ul {
        font-size: 1em;
        padding: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    nav ul li {
        margin: 0 1em;
    }
    
    nav ul li:first-child {
        list-style: none;
    }
    
    footer p {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1000px) {
    
    header {
        font-size: 1.4em;
    }
}

/*home page*/

#bigNav, #contactPage, #musicPage, #climbPage, #webPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 auto auto;
    flex: 1 auto auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#contactPage, #musicPage, #climbPage, #webPage {
    display: none;
}

button {
    width: 20%;
    height: 3em;
    margin: 0 3%;
    background-color: #ddd;
    opacity: 0.6;
    border: solid black 4px;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}

button:hover {
    opacity: 0.85;
    
}

/*home page media queries*/

@media only screen and (max-width: 1200px) {
    #bigNav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    button {
        width: 50%;
        font-size: 2em;
        margin: 1em auto;
    }
}

@media all and (max-width: 1000px) {

    button {
        width: 60%;
    }
}


/*contact page*/

#contactPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#profilePic {
    border-radius: 50%;
    margin-bottom: 5em;
}

#contactIcons img {
    width: 40px;
    height: 40px;
    margin: 0 0.5em;
}

#contactPage p {
    font-size: 2em;
}