body {
  font-family: 'Amatic SC', cursive;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

#root, #content {
  min-height: 100vh;
}

header {
  background-color: rgba(221, 221, 221, 0.712);
  padding: 1em 1em 0 1em;
  display: flex;
  flex-direction: column;
  z-index: 2;
  font-size: 1.4em;
  text-align: center;
  line-height: 0.7;

  a {
    color: black;
  }
}

h1 {
  font-size: 3em;
  margin: 0;
}

#mainPage {
  text-decoration: none;

  &:hover {
    color: #555;
  }
}

nav ul {
  display: flex;
  flex: 1 1 auto;
  white-space: nowrap;
  font-size: 1em;
  padding: 0;
  justify-content: center;

  &:hover {
    color: #555;
  }

  li { 
    font-size: 1.5em;
    margin: 0 1em;
    text-decoration: underline;
  }

  li:first-child {
    list-style: none;
  }
}

.active {
  color: red;
}

footer {
  text-align: center;
  opacity: 0.3;
  margin-bottom: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    margin: 0;
    font-size: 2em;
    color: white;
  }
}

#background img {
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.hiddenBG { 
  opacity: 0;
  z-index: -2;
}

.currentBG {
  display: block;
  opacity: 0.8;
  z-index: -1;
}

/*nav media queries*/



/*home page*/

#bigNav, #contactPage, #musicPage, #climbPage, #webPage {
  display: flex;
  flex: 1 auto auto;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

#bigNav {
  flex-direction: column;
}

#bigNav a {
  text-decoration: none;
  color: black;
}

button {
  width: 60%;
  height: 3em;
  margin: 1em auto;
  background-color: #ddd;
  opacity: 0.6;
  border: solid black 4px;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

button:hover {
  opacity: 0.85;
  
}

/*home page media queries*/



/*contact page*/

#contactPage {
  flex-direction: column;

  p {
    font-size: 2em;
  }
}

#profilePic {
  border-radius: 50%;
  margin-bottom: 5em;
}

#contactIcons {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;

  img {
    width: 40px;
    height: 40px;
    margin: 0 0.5em;
  }

  img:hover {
    opacity: 0.7;
  }
}

/*web dev page*/

#webPage {
  flex-direction: column;
  justify-content: flex-start;
  background: #ddd;
  border-radius: .5em;
  margin: 0 10% 5%;
  padding: 4em 4em;

  p {
    font-size: 1.4em;
    font-family: monospace;
  }
}

#webProjects {
  h1 {
    margin: 1em 0;
    text-align: center;
  }

  ul {
    text-align: center;
    list-style: none;
    font-size: 1.6em
  }

  p {
    font-family: monospace;
    font-size: .8em;
  }
}

/*climb page*/

#climbPage {
  flex-direction: column;
  justify-content: flex-start;
  background: #ddd;
  border-radius: .5em;
  margin: 0 10% 5%;
  padding: 4em 4em;

  p {
    font-family: monospace;
    font-size: 1.4em;
  }
}

/*photography page*/

#photoPage {
  h1 {
    font-size: 4em;
    color: blue;
  }
}

/*error page*/

#errorPage {
  text-align: center;
  padding-top: 4em;
  font-size: 4em;
}
